{% extends 'base.html' %}

{% block content %}
    <h2>Create Experience</h2>
    <form class="create-form" action="/experiences" method='post'>
        <div class="title input-wrapper">
            <label for="title">Title</label>
            <input placeholder="Enter a title" type="text" id="title" name="title">
        </div>
        <hr>
        <div class="description input-wrapper">
            <label for="description">Description</label>
            <textarea placeholder="Enter a description" name="description" id="description" cols="30" rows="5"></textarea>
        </div>
        <hr>
        <div class="location input-wrapper">
            <label for="location">Location</label>
            <input placeholder="Enter a location" type="text" id="location" name="location">
        </div>
        <hr>
        <div class="image input-wrapper">
            <label for="image">Image</label>
            <input placeholder="Enter an image URL" type="text" id="image" name="image">
        </div>
        <hr>
        <div class="price input-wrapper">
            <label for="price">Price</label>
            <input placeholder="Enter a price" type="number" id="price" name="price" step="any">
        </div>
        <hr>
        <div class="is_featured input-wrapper">
            <label for="is_featured">Featured?</label>
            <input type="checkbox" value=False id="is_featured" name="is_featured">
        </div>
        <hr>
        <div class="buttons-container">
            <a href="/experiences" class="header-button-link">Cancel</a>
            <button class="header-button-link primary-button">Save</button>
        </div>
    </form>
{% endblock content %}