{% extends 'base.html' %}
{% set active_page = "experiences" %}

{% block content %}
<header class="section-header">
    <h2>{{experience.title}}</h2>
</header>
    <section class="one-experience">
        <div class="individual-section">
            <p>{{experience.description}}</p>
            <h4>{{experience.location}}</h4>
            <h3>Price: £{{experience.price}}</h3>
            <hr>
            <p style="font-size: 18px">{{users|length}} {% if users|length == 1 %}User has{% else %}Users have{% endif %} purchased this experience</p>
            <ul>
                {% for user in users %}
                    <a class="experiences-list" href="/users/{{user.id}}">
                        <li>
                            <img src="{{user.image}}" alt="user.name">
                            {{user.name}}
                        </li>
                    </a>
                {% endfor %}
            </ul>
            <div class="buttons-container">
                <a href="/experiences/{{experience.id}}/edit" class="header-button-link primary-button">Edit</a>
                <form action="/experiences/{{experience.id}}/delete" method="post">
                    <button class="header-button-link delete-button">Delete</a>
                </form>
            </div>
        </div>
        <img id="experience-landscape" src="{{experience.image}}" alt="">
    </section>
{% endblock content %}